h3 {
    margin: 25px;
}

#projects {
    height: 38px;
}

.card-height { 
    min-height: 10em;

}

.sticky-bottom {
    position: sticky;
    top: 100%;
}

#dashboard-title {
    text-align: center;
    margin: 2rem 0;
}
