{% extends 'layout.html' %}
{% block content %}

<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row mt-5 pt-5">
          <div class="col-lg-6 text-center">
            <h1 class="display-2 mt-5">
              Keep Track Of Your Research
            </h1>
            <p class="lead">
              Need to keep track of your research? Can't keep up with all the books in your thesis?
            </p>
            <a href={{url_for('register')}} class="btn btn-outline-secondary btn-lg text-white">
              <i class="fas fa-arrow-right"></i>
              Start Here
            </a>
          </div>
          <div class="col-lg-6 mt-5">
            <img
              src="../static/assets/pile-of-five-books-51342.jpg"
              alt=""
              class="img-fluid d-none d-lg-block mt-4"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if not current_user.is_authenticated %}
  <section class="bg-dark text-white py-5">
    <div class="container text-center">
        <button class="btn btn-primary btn-lg mx-2 my-5">
            <a class="text-white text-decoration-none" href="{{url_for('login')}}">Click Here To Login</a>
        </button>
        <form action={{url_for('login')}} method="POST">
          <input type="hidden" name="demoLogin" value="login">
          <button class="btn btn-primary btn-lg mx-2 text-white" type="submit">
              Demo Login
          </button>
        </form>
    </div>
  </section>
  {% endif %}

  <section id="about" class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5">
            <h1 class="text-primary pb-3">
              Why this tool?
            </h1>
            <p class="lead pb-3">
              A simple way to keep track of all the books you are citing, reading or researching. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-light py-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h3 class="m-0">Get in Touch</h3>
          <p class="lead">
            Feel free to contact us with any questions, bugs or feature requests!
          </p>
          <form action={{url_for('contact')}} method="POST">
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Name" name="name" />
            </div>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control" placeholder="Email" name="email"/>
            </div>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </div>
              <textarea
                class="form-control"
                placeholder="Message"
                rows="5"
                name="msg"
              ></textarea>
            </div>
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary btn-block btn-lg"
            />
          </form>
        </div>

        <div class="col-lg-3 align-self-center">
          <img src="../static/assets/logo.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>


{% endblock %}