{% extends 'layout.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center py-3">
            <img class="" src="{{ image }}" alt="" width="128" height="167">
        </div>
        <div class="col-lg-8">
            <h5 class="display-5">
                {{ title }}
            </h5>
            <hr>
            <ul>
                <li><strong>Author: </strong>{{ author }}</li>
                <li> <strong>Description:</strong> {{ description|striptags }}</li>
                <li><strong>ISBN: </strong> {{ isbn }}</li>
                <li><strong>Publish Date: </strong> {{ publishDate }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex">
            <button class="btn btn-primary btn-lg mx-auto">Add To Project</button>
        </div>
    </div>
</div>

{% endblock %}