{% extends 'layout.html' %}

{% block content %}
<h4 class="display-4">Dashboard</h4>

<section class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" data-toggle="modal" data-target="#projectModal" class="btn btn-primary btn-block">
                    <i class="fas fa-plus"></i>
                    Add New Project
                </a>
            </div>
            <div class="col-md-3">
                <form action="{{ url_for('dashboard')}}" method="POST">
                    <select id="projects" name="project" class="btn btn-primary btn-block">
                        <option value="" disabled selected>Select Active Option</option>
                        {% for project in projects %}
                        <option value="{{project.id}}">{{project.title}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header d-flex justify-content-around">
                        <h4 class="d-inline">Latest Project</h4>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#bookModal"> 
                            <i class="fas fa-plus"></i> Add Book</button>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>ISBN</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.isbn }}</td>
                                <td class="pt-1">
                                    <form action={{url_for('delete')}} method="POST">
                                        <input name="delete" type="hidden" value="{{book.id}}">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fas fa-angle-double-right"></i>
                                            Delete
                                        </button>
                                    </form>
                                </td>
                                <td class="pt-1">
                                    <form action={{url_for('cite')}} method="POST">
                                        <input type="hidden" name="isbnToSearch" value="{{book.isbn}}">
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>
                                            Cite
                                        </button>
                                    </form>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Projects</h3>
                        <h4 class="display-4">
                            <i class="fas fa-pencil-alt"></i>
                            2
                        </h4>
                        <a href="#" class="btn btn-outline-light btn-sm">
                            View
                        </a>
                    </div>
                </div>
                <div class="card text-center bg-dark text-white mb-3">
                    <div class="card-body">
                        <h3>Books</h3>
                        <h4 class="display-4">
                            <i class="fas fa-pencil-alt"></i>
                            6
                        </h4>
                        <a href="categories.html" class="btn btn-outline-light btn-sm">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- add book modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search for Books</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action={{url_for('query')}} method="POST">
                <input type="text" name="bookSearch">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" formaction={{url_for('query')}} class="btn btn-primary">Search Book</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add project modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action={{url_for('add_project')}} method="POST">
                <input type="text" name="addProject">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" formaction={{url_for('add_project')}} class="btn btn-primary">Add Project</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}