<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BookWorm</title>
    <script src="https://kit.fontawesome.com/8e011ff418.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <nav
    class="navbar navbar-expand-md navbar-light navbar-static-top py-4"
    id="main-nav"
    >
    <div class="container">
      <a href={{url_for('index')}} class="navbar-brand">
        <img src="static/assets/logo.png" alt="" width="50" height="50" />
        <h3 class="d-inline align-middle">
          bookWorm
        </h3>
      </a>
      <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href={% if not current_user.is_authenticated %}{{url_for('login')}} {% else %}{{url_for('dashboard')}}{% endif %} class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href={{url_for('index')}} class="nav-link">About</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ url_for('register') }}" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('login') }}" class="nav-link">Login</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="list-group">
    {% for message in messages %}
      <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %} {% endblock %}

    <footer id="main-footer" class="py-5 bg-primary text-white sticky-bottom">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <p class="lead">Copyright &copy; <span id="year"></span></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $("#year").text(new Date().getFullYear());
    </script>
    {% block script %} {% endblock script %}
  </body>
</html>
